@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Petit+Formal+Script&display=swap');

*{
    margin: 0; 
    padding: 0;
}

div {
    height: 100%;
    width: 100%;
}


.Home {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, pink 50%, lightcoral 100%);
    padding-right: 16%;
}

.Home .Footer {
    color: white;
    justify-content: space-between;
    font-family: 'Petit Formal Script', cursive;
    font-size: 18pt;
    font-weight: bold;
    padding: 1rem;
    bottom: 0;

}

.Content {
    justify-content: space-between;
    padding: 3rem;
    margin: 0;
    flex-grow: 1;

}

.Home .Header {
    justify-content: space-between;
    padding: 50px;
    margin: 0; 
}

.Home .Menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    font-size: 48pt;
    justify-content: center;
}

.Menu li a {
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.Menu li a:hover {
    background-color: #d74894;
    padding: 0px;
    margin: 0px;
}

.Menu li a:active {
    background-color: #ff264a;
}

.Title h1 {
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    letter-spacing: 2cap;
    color: white;
    font-size: 80pt;
    font-weight: bold;
    -webkit-text-stroke-color: #d74894;
    -webkit-text-stroke-width: 1pt;
}